<h1>Name : <%=@employee.first_name%> <%=@employee.last_name %></h1>

<h3>Alias: <%=@employee.alias %></h3>

<h3>Title: <%=@employee.title %></h3>
<h3>Office: <%=@employee.office %></h3>

<h3>Dog: <%= link_to @employee.dog.name, dog_path(@employee.dog) %></h3>

<%= form_tag @dog, method: "DELETE" do %>
    <%= submit_tag "Delete Employee" %>
  <%end%>
