<h1><%= @employee.full_name %></h1>

<strong>Alias: </strong> <%= @employee.alias %> <br>
<strong>Title: </strong> <%= @employee.title %> <br>
<strong>Office: </strong> <%= @employee.office %> <br>
<strong>Dog name:</strong> <%= @employee.dog_name %> <br>
<br>
<img src="<%= @employee.img_url %>">
<br>

<%= form_tag '/employees', method: :get do %>
  <%= submit_tag "Go back to Index" %>
<% end %><br>
<br>
<%= form_tag "/employees/#{@employee.id}", method: :delete do %>
  <%= submit_tag "Or delete this user" %>
<% end %>
